/* ---------------------- STYLIZED FORM SPECIFIC ----------------------  */
.form-header{
    margin: 5px 10px;
    font-size: 18px;
    color: #397cc6;
}

.stylized{
    border:1px solid #ccc;
    background:#fff url(../images/h600.png) repeat-x;
    padding:20px;
    width:450px;
    -moz-border-radius:4px;

}

form.no-gradient{
    background:#f3f3f3 !important;
}

form.stylized p.desc{
    font-size:11px;
    color:#666666;
    text-align: right;
    border: none;
    margin:0;
    padding: 0;
}

.stylized dl{
    overflow: auto;
}
.stylized dt {
    float:left;
    clear: both;
    display:block;
    text-align:right;
    width:150px;
}

.stylized dd {
    float:left;
    display: block;
    width:200px;
    margin:2px 0 10px 10px;
    padding-left: 10px;
    text-align: left;
}

.stylized label{
    font-weight:bold;
    width:150px;
    font-size: 13px;
    line-height: 2em;
}

label.right-lebel{
    font-size:12px;
    color:#666666;
    text-align: right;
    border: none;
    margin:0;
    padding: 0px 3px;
}

dt.section-heading{
    font-size:13px;
    font-weight:bold;
    text-align: left;
    color:gray;
    border-bottom: 1px solid #ddd;
    padding-bottom:5px;
    margin:20px 0 15px;
    width:400px;
}

.stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    width:150px;
}

.stylized input, .stylized select {
    font-size:12px;
    padding:4px 2px;
    border: 1px solid #aacfe4;
    width:200px;
    margin:0;
}

input.input-medium, select.select-medium {
    font-size:12px;
    padding:4px 2px;
    border: 1px solid #aacfe4;
    width:100px;
    margin:0;
}


.stylized select {
    /*@margin-left: 20px;*/
}

.stylized textarea {
    font-size:12px;
    padding:4px 2px;
    border: 1px solid #aacfe4;
    width:200px;
}

.stylized option {
    @padding:4px 2px;
}

.stylized input.radio{
    display: inline;
    border: none;
    float: none;
    width:20px;
}

.stylized input.btn{
    clear:both;
    @margin-left:0px;
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	background: #000;
	border: none;
	padding: 0.3em 20px;
	cursor: pointer;
    width:auto;
}

.stylized input.btn:hover{background: #4a4a4a;}

.stylized p.errors, .stylized p.error {
    color: #ff0000;
    /*font-weight: bold;*/
    clear:both;
    padding:0;
}

.stylized dd input.error, .stylized dd textarea.error, .stylized dd select.error {
    border: 1px #ff0000 solid;
}

.readonly{background-color:#F3F4F4}

form h3 {
    text-align:center;
    margin:0 0 10px 0;
}

input{
    font-size:12px;
    margin:0;
    padding:4px 2px;
    width:300px;
}