.timeline li {
  font-family:Arial,sans-serif;
  list-style: none;
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #EAEAEA;
}

.timeline li:nth-child(even) {
    background-color: #FAFAFA;
}

.timeline li:last-child {
  border-bottom: none;
}

.timeline img.gravatar {
  float: left;
  margin: 0 0.6em;
}

.timeline .story {
  margin: 5px 10px 0 60px;
  font-size: 12px;
}
